body {
  font-family: Arial, sans-serif;
  font-size: 1.125rem;
  width: 0 auto;
  text-align: center;
  margin: 0;
  padding: 0;
}

body h1, body h2 {
  font-weight: 600;
  font-family: 'Franklin Gothic Medium';
  color: #00252e;
}

body p {
  color: #808d99;
}

body .cta {
  font-weight: 500;
}

#head {
  background-color: #ebfbff;
  background-image: url(images/bg-hero-mobile.svg);
  margin-bottom: 7rem;
}

#head .logo {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  padding: 2rem;
}

#head .try-btn {
  padding: 0.2rem 1.5rem;
  text-decoration: none;
  color: #808d99;
  background-color: white;
  -webkit-box-shadow: 0 0 4px 0 #808d99;
          box-shadow: 0 0 4px 0 #808d99;
  border-radius: 1rem;
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 0.6rem;
}

#head .head-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2em;
}

#head .head-left {
  width: 50%;
  padding-top: 1rem;
  text-align: left;
  padding-left: 2rem;
}

#head .head-left h1 {
  font-size: 3vw;
  line-break: inherit;
  line-height: 4vw;
  width: 30vw;
}

#head .head-left p {
  font-size: 1.7vw;
  line-break: inherit;
  line-height: 2.5vw;
  width: 50vw;
  padding-bottom: 1rem;
}

#head .head-left .cta {
  text-decoration: none;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  color: #ebfbff;
  font-size: 2vw;
  background-color: #ff52bf;
}

#head .head-right {
  width: 50%;
}

#head .head-right img {
  max-width: 100%;
  height: auto;
}

.card {
  width: 70vw;
  padding: 3vh 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 4px 0 #808d99;
          box-shadow: 0 0 4px 0 #808d99;
  margin: 2rem auto;
}

.card .left {
  width: 50%;
}

.card .right {
  width: 50%;
}

.card h2, .card p {
  text-align: start;
  width: 100%;
  padding-left: 10px;
}

.card h2 {
  font-size: 2.6vw;
  padding-top: 2em;
}

.card p {
  font-size: 1.5vw;
}

.card img {
  width: 80%;
}

.small-card {
  width: 40vw;
  padding: 3vw 5vw 5vw 5vw;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 4px 0 #808d99;
          box-shadow: 0 0 4px 0 #808d99;
  margin: 6rem auto 0 auto;
  position: relative;
  z-index: 1;
  background-color: white;
}

.small-card h2 {
  font-size: 2.5vw;
  padding-bottom: 1.2rem;
}

.small-card .cta {
  text-decoration: none;
  border-radius: 2rem;
  padding: 0.7rem 3rem;
  color: #ebfbff;
  font-size: 2vw;
  background-color: #ff52bf;
}

footer {
  background-color: #00252e;
  padding-top: 2em;
  margin-top: -2em;
  padding-bottom: 3em;
}

footer .logo {
  width: 120px;
  margin-top: 3em;
  margin-left: -17.5em;
  margin-bottom: 1em;
  background-color: white;
}

footer span {
  font-size: 0.6rem;
  padding-left: 25em;
  color: white;
}

.footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  font-size: 1rem;
  color: white;
  text-align: left;
  padding-bottom: 2rem;
}

.footer .list {
  width: 95%;
}

.footer div ul li {
  margin-left: -0.5rem;
}

.footer ul {
  list-style: none;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.footer .contact-list li {
  width: 150px;
  margin-right: -10px;
  line-height: 2.5em;
}

.footer .page-links1 {
  width: 90px;
}

.footer .contact-list li img {
  width: 8px;
  padding-right: 10px;
}

.footer a {
  text-decoration: none;
  color: white;
  text-align: left;
  line-height: 2rem;
}

.footer .list .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -2rem;
  padding-right: -1rem;
  padding-top: 0.5em;
  padding-left: 3rem;
}

.footer .social-media img {
  width: 15px;
}
/*# sourceMappingURL=style.css.map */